<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLDLEntities" connectionString="metadata=res://*/DataAccess.QLDLModel.csdl|res://*/DataAccess.QLDLModel.ssdl|res://*/DataAccess.QLDLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6QE5JP6;initial catalog=QLDL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>