<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLDL.Properties.Settings.quanlidailyConnectionString" connectionString="Data Source=quanlidaily.mssql.somee.com;Initial Catalog=quanlidaily;Persist Security Info=True;User ID=vominhquan1512_SQLLogin_1;Password=tch3t8om2f" providerName="System.Data.SqlClient" />
    <add name="quanlidailyEntities" connectionString="metadata=res://*/DataAccess.QLDLModel.csdl|res://*/DataAccess.QLDLModel.ssdl|res://*/DataAccess.QLDLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quanlidaily.mssql.somee.com;initial catalog=quanlidaily;persist security info=True;user id=vominhquan1512_SQLLogin_1;password=tch3t8om2f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLDLEntities" connectionString="metadata=res://*/DataAccess.QLDLModel.csdl|res://*/DataAccess.QLDLModel.ssdl|res://*/DataAccess.QLDLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VMQ-PC;initial catalog=QLDL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>